# COVID 19 IN INDIA

In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [40]:
covid_cases_India_df=pd.read_csv('Covid_cases_in_India[1].csv')
covid_per_day_india_df=pd.read_excel('per_day_cases[1].xlsx')
covid_indian_cordinates_df=pd.read_csv('Indian_Coordinates[1].csv')

In [9]:
covid_cases_India_df.head()

,S. No.,Name of State / UT,Total Confirmed cases,Active,Cured/Discharged/Migrated,Deaths
0,1,Andhra Pradesh,1583,1062,488,33
1,2,Andaman and Nicobar Islands,33,1,32,0
2,3,Arunachal Pradesh,1,0,1,0
3,4,Assam,43,9,33,1
4,5,Bihar,517,396,117,4

In [12]:
covid_per_day_india_df.head()

        Date  Total Cases  New Cases  Days after surpassing 100 cases
0 2020-01-30            1          1                              NaN
1 2020-01-31            1          0                              NaN
2 2020-02-01            1          0                              NaN
3 2020-02-02            2          1                              NaN
4 2020-02-03            3          1                              NaN

In [14]:
covid_indian_cordinates_df.head()

     Name of State / UT   Latitude  Longitude  Unnamed: 3
0  Andaman And Nicobar   11.667026  92.735983         NaN
1        Andhra Pradesh  14.750429  78.570026         NaN
2    Arunachal Pradesh   27.100399  93.616601         NaN
3                Assam   26.749981  94.216667         NaN
4                Bihar   25.785414  87.479973         NaN

In [15]:
print(covid_cases_India_df.shape)
print(covid_indian_cordinates_df.shape)
print(covid_per_day_india_df.shape)

(32, 6)
(36, 4)
(95, 4)

# CONFIRMED STATEWISE CASES

In [19]:
confirmed=covid_cases_India_df.groupby('Name of State / UT').sum()['Total Confirmed cases']
confirmed

Name of State / UT
Andaman and Nicobar Islands       33
Andhra Pradesh                  1583
Arunachal Pradesh                  1
Assam                             43
Bihar                            517
Chandigarh                        97
Chhattisgarh                      57
Delhi                           4549
Goa                                7
Gujarat                         5428
Haryana                          442
Himachal Pradesh                  40
Jammu and Kashmir                701
Jharkhand                        115
Karnataka                        614
Kerala                           500
Ladakh                            42
Madhya Pradesh                  2837
Maharashtra                    12974
Manipur                            2
Meghalaya                         12
Mizoram                            1
Odisha                           162
Pondicherry                       12
Punjab                          1102
Rajasthan                       2886
Tamil Nadu                      3023
Telengana                       1082
Tripura                           16
Uttar Pradesh                   2645
Uttarakhand                       60
West Bengal                      963
Name: Total Confirmed cases, dtype: int64

# ACTIVE STATEWISE CASES

In [47]:
active=covid_cases_India_df.groupby('Name of State / UT').sum()['Active']
active

Name of State / UT
Andaman and Nicobar Islands        1
Andhra Pradesh                  1062
Arunachal Pradesh                  0
Assam                              9
Bihar                            396
Chandigarh                        77
Chhattisgarh                      21
Delhi                           3123
Goa                                0
Gujarat                         4096
Haryana                          192
Himachal Pradesh                   1
Jammu and Kashmir                406
Jharkhand                         85
Karnataka                        295
Kerala                            95
Ladakh                            25
Madhya Pradesh                  1883
Maharashtra                    10311
Manipur                            0
Meghalaya                          1
Mizoram                            1
Odisha                           101
Pondicherry                        6
Punjab                           964
Rajasthan                       1459
Tamil Nadu                      1614
Telengana                        508
Tripura                           14
Uttar Pradesh                   1848
Uttarakhand                       20
West Bengal                      762
Name: Active, dtype: int64

# TOTAL DEATH STATEWISE

In [49]:
deaths=covid_cases_India_df.groupby('Name of State / UT').sum()['Deaths']
deaths

Name of State / UT
Andaman and Nicobar Islands      0
Andhra Pradesh                  33
Arunachal Pradesh                0
Assam                            1
Bihar                            4
Chandigarh                       1
Chhattisgarh                     0
Delhi                           64
Goa                              0
Gujarat                        290
Haryana                          5
Himachal Pradesh                 2
Jammu and Kashmir                8
Jharkhand                        3
Karnataka                       25
Kerala                           4
Ladakh                           0
Madhya Pradesh                 156
Maharashtra                    548
Manipur                          0
Meghalaya                        1
Mizoram                          0
Odisha                           1
Pondicherry                      0
Punjab                          21
Rajasthan                       71
Tamil Nadu                      30
Telengana                       29
Tripura                          0
Uttar Pradesh                   43
Uttarakhand                      1
West Bengal                     50
Name: Deaths, dtype: int64

# TOTAL RECOVERED CASES

In [51]:
recovered=covid_cases_India_df.groupby('Name of State / UT').sum()['Cured/Discharged/Migrated']
recovered

Name of State / UT
Andaman and Nicobar Islands      32
Andhra Pradesh                  488
Arunachal Pradesh                 1
Assam                            33
Bihar                           117
Chandigarh                       19
Chhattisgarh                     36
Delhi                          1362
Goa                               7
Gujarat                        1042
Haryana                         245
Himachal Pradesh                 34
Jammu and Kashmir               287
Jharkhand                        27
Karnataka                       293
Kerala                          401
Ladakh                           17
Madhya Pradesh                  798
Maharashtra                    2115
Manipur                           2
Meghalaya                        10
Mizoram                           0
Odisha                           60
Pondicherry                       6
Punjab                          117
Rajasthan                      1356
Tamil Nadu                     1379
Telengana                       545
Tripura                           2
Uttar Pradesh                   754
Uttarakhand                      39
West Bengal                     151
Name: Cured/Discharged/Migrated, dtype: int64

# CONFIRMED VS RECOVERED CASES